<div class="row p-5">
    <div class="user-profile-view">
        <div style="width: 100%;" class="user-profile-view mb-5">
            <img src="{{image}}" alt="" style="width:200px; border-radius:50%">
        </div>

        <div>
            <form action="" id="admin-changePass">
                <fieldset>
                    <legend style="width: 400px; text-align:center">{{username}}</legend>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Old password</label>
                        <input type="text" class="form-control admin-old-pass" name='old_pass'>
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">New password</label>
                        <input type="password" class="form-control admin-new-pass" name='new_pass'>
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Confirm password</label>
                        <input type="password" class="form-control admin-c-pass" name='cnew_pass'>
                    </div>
                    <p id="admin-alert" style="color: red;margin-bottom:5px"></p>
                    <button type="submit" class="btn btn-success" style="width: 100%;">Change</button>

                </fieldset>
            </form>
        </div>
    </div>
</div>